/* Main body */
body{
    background: white;
    font-family: "Righteous", cursive;
}

/* The navbar: Makes it in a row */
header {
    cursor: default;
    background-color: #e2e2e2;
    width: 99%;
    padding: 11px 0;
    top: 0;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/* The text in the navbar: Makes it in a row */
header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/* The buttons on the right of the navbar */
header ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

/* Logo on the left of the navbar */
#logo {
    margin-left: 20px;
    width: 90px;
}

/* Company name on the navbar */
#name {
    color: black;
    justify-content: flex-start;
}

/* Shopping cart on navbar */
#cart {
    max-width: 15%;
    height: auto;
}

/* Search icon on navbar */
#search {
    max-width: 7%;
    height: auto;
}

/* Homepage image */
#home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Main name */
#intro {
    color: blue;
    width: 100%;
    position: absolute;
    top: 70%;
    font-size: 70px;
    letter-spacing: 2px;
    transform: translateY(-50%);
    text-align: center;
}