
/* Main body */
body{
    background: white;
    cursor: default;
    font-family: "Righteous", cursive;
}

/* The navbar: Makes it in a row */
header {
    background-color: #e2e2e2;
    overflow: hidden;
    width: 99%;
    padding: 11px 0;
    top: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 6.0rem;
}

/* Logo on the left of the navbar */
#logo {
    margin-left: 20px;
    width: 90px;
}

/* The home button on the navbar*/
#hButton {
    float: right;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 15px;
}

/* The about button on the navbar*/
#aButton {
    float: right;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 15px;
}

/* The products button on the navbar*/
#pButton {
    float: right;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 15px;
}

/* The contact button on the navbar*/
#cButton {
    float: right;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 15px;
}

/* Shopping cart on navbar */
#cart {
    float: right;
    overflow: hidden;
    max-width: 2.7%;
    margin-right: 20px;
}

/* Search icon on navbar */
#search {
    float: right;
    overflow: hidden;
    max-width: 2.7%;
    margin-right: 15px;
}

/* Homepage image */
#home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    scroll-margin-top: 2.0rem;
}

/* Main name */
#intro {
    color: blue;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 70%;
    font-size: 70px;
    letter-spacing: 2px;
    transform: translateY(-50%);
    text-align: center;
}

/* About section */
#about {
    text-align: center;
    scroll-margin-top: 6.0rem;
}

/* Product section */
#products {
    scroll-margin-top: 6.0rem;
}

/* Products */
h2 {
    text-align: center;
}

/* Product types */
h3 {
    text-align: center;
}

/* Contact section */
#contact {
    scroll-margin-top: 6.0rem;
}