/* Main body */
body{
    background: white;
    cursor: default;
    font-family: "Righteous", cursive;
}

/* The navbar: Makes it in a row */
header {
    background-color: #e2e2e2;
    overflow: hidden;
    width: 99%;
    padding: 0.8% 0;
    top: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 6.0rem;
}

/* Logo on the left of the navbar */
#logo {
    margin-left: 1.8%;
    width: 7%;
}

/* The home, about, products and content button on the navbar*/
#hButton, #aButton, #pButton, #cButton {
    float: right;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 3%;
}

/* Shopping cart icon on navbar */
#cart {
    float: right;
    overflow: hidden;
    max-width: 3%;
    margin-left: 3%;
    margin-right: 6%;
}
/* Search icon on navbar */
#search {
    float: right;
    overflow: hidden;
    max-width: 3%;
    margin-right: 3%;
}

/* Homepage image */
#home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    scroll-margin-top: 2.0rem;
}

/* Main name */
#intro {
    color: blue;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 70%;
    font-size: 450%;
    transform: translateY(-50%);
    text-align: center;
}

/* About section */
#about {
    margin-top: 6%;
    text-align: center;
    scroll-margin-top: 6.0rem;
}

/* Product section */
#products {
    margin-top: 6%;
    scroll-margin-top: 6.0rem;
}

/* Products */
h2 {
    text-align: center;
}

/* Product sets */
.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* Individual products */
.item {
    display: flex;
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    flex-direction: column;
}

/* Product image */
.item img {
    max-width: 100%;
}

/* Product text */
.item h3, p {
    text-align: center;
}

/* Product names */
h3 {
    text-decoration: underline;
}

/* Contact section */
#contact {
    scroll-margin-top: 6.0rem;
}